.img{
height: 500px;
width: 200px;
}body {
    background-image: url();
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Навигационное меню */
  nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Секция "hero" */
  .hero {
    text-align: center;
    padding: 3rem 0;
    background-color: #f4f4f4;
  }
  
  /* Секция "cars" */
  .cars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .cars article {
    
    padding: 20px;
  }
  
  .cars article img {
    max-width: 100%;
    height: auto;
  }
 h3{
color: orange

 }
